<table class="table table-stripped">
  <thead>
    <tr>
      <td>Title</td>
      <td>Content</td>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><strong><%= article.title %></strong></td>
      <td><%= article.content %></td>
    </tr>
  <% end %>
  </tbody>
</table>