<table class="table table-stripped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Age</td>
      <td>Gender</td>
    </tr>
  </thead>
  <tbody>
  <% @authors.each do |author| %>
    <tr>
      <td>
        <%= author.name %>
      </td>
      <td>
        <%= author.age %>
      </td>
      <td>
        <%= author.gender %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>